<div mat-dialog-content>
  <p>Add your answer..</p>
  <mat-form-field style="width: 320px" appearance="fill">
    <mat-label>write here</mat-label>
    <textarea matInput [(ngModel)]="data"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Back</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Answer</button>
</div>
