<mat-card class="my-4 w-75 mx-auto">
  <div (click)="goToQuestionDetails(question?.qId || '')">
    <mat-card-header class="align-items-baseline mb-3">
      <mat-card-title>
        <img [src]="question.userImage" [alt]="question.userName" />
        {{ question.userName }}
      </mat-card-title>

      <span class="mx-2"> {{ question.createdAtFormatted }} </span>
    </mat-card-header>

    <mat-card-content>
      <p>
        {{ question.content }}
      </p>
    </mat-card-content>
    <mat-card-actions class="d-flex">
      <p class="px-2">{{ question.commentCount }} Comments</p>
      <p class="px-2">{{ question.viewCount }} Views</p>
      <p class="px-2">15 Shares</p>
    </mat-card-actions>
  </div>
</mat-card>
