<div class="w-75 mb-2 mx-auto container-wrapper">
  <div class="container-head">
    <div class="user-image">
      <img [src]="comment.userImage" [alt]="comment.userId" />
      <h4>{{ comment.userName }}</h4>
    </div>
    <p>{{ comment.createdAtFormatted }}</p>
  </div>
  <div class="container-body">{{ comment.comment }}</div>
  <div class="container-footer">{{ comment.likeCount || 0 }} Likes</div>
</div>
