.container-wrapper {
  //   display: flex;
  //   flex-direction: column;
  padding: 10px 15px;
  border: 1px solid gray;
  border-radius: 5px;
}
.container-head {
  display: flex;
  justify-content: space-between;
}
.user-image {
  display: flex;
}
.user-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
.user-image h4 {
  display: inline-block;
  align-self: center;
}
.container-head p {
  align-self: center;
  color: rgba(0, 0, 0, 0.75);
  font-size: 13px;
  padding: 0 10px;
}

.container-body,
.container-footer {
  margin-top: 15px;
}
