<div *ngIf="question$ | async as qs" class="d-flex flex-column">
  <app-question-card [question]="qs"> </app-question-card>

  <button
    mat-button
    color="primary"
    mat-raised-button
    type="button"
    (click)="openDialog()"
    class="mb-2"
    style="align-self: center"
  >
    Add Answer
  </button>

  <app-answer-card
    *ngFor="let c of comments$ | async"
    [comment]="c"
  ></app-answer-card>

  <div class="my-4 w-75 mx-auto" *ngIf="!(isComments$ | async)">
    <p>No Comments yet</p>
    <button
      mat-button
      color="primary"
      mat-raised-button
      type="button"
      (click)="openDialog()"
    >
      Add Answer
    </button>
  </div>
</div>
