<form class="form-control my-4 w-75 mx-auto text-center">
  <input
    mat-input
    type="text"
    placeholder="Search questions.."
    class="mx-2 w-75"
    name="search"
    [(ngModel)]="searchKey"
    (keyup)="searchQuestions()"
  />
  <button
    mat-button
    color="primary"
    mat-raised-button
    type="button"
    (click)="openDialog()"
  >
    Add New
  </button>
</form>

<app-question-card
  *ngFor="let question of questions$ | async"
  [question]="question"
></app-question-card>

<div class="my-4 w-75 mx-auto" *ngIf="!(isQuest$ | async)">
  No Questions yet
</div>
