<div class="container">
  <div class="row mx-auto" style="margin-top: 100px">
    <div class="d-flex align-items-center justify-content-center">
      <div class="login w-75">
        <form class="formLogin">
          <div class="mb-3">
            <label class="form-label"> Email </label>
            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="email"
            />
          </div>
          <div class="mb-3 mt-3 forgetpass">
            <label class="form-label d-flex justify-content-between"
              >Password
            </label>

            <input
              type="password"
              class="form-control"
              autocomplete="current-password"
              required=""
              id="id_password"
              name="password"
              [(ngModel)]="password"
            />
          </div>

          <button
            (click)="login()"
            type="submit"
            class="btn btn-primary btnLog"
            [disabled]="email == '' || password == '' || (loading$ | async)"
          >
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
